# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Allow tracking libraries inside the repo `lib` folder
!lib/
!lib/**

# NetBeans build folders
/build/
/dist/
/nbproject/private/

# Logs
*.log
log/

# IDEs and editors
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
